/* General format */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 3em;

  background-image: url("https://media.discordapp.net/attachments/993702831850786886/1117894163686510752/bgJC_copy.jpg");
  /* background-image: url("https://images.unsplash.com/photo-1591311337241-cecfd26f1da1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8c2thdGVib2FyZGluZ3xlbnwwfHwwfHx8MA%3D%3D&auto=format&fit=crop&w=500&q=60"); */
  background-repeat: no-repeat;

  /* fit the entire background image */
  background-size: 100% 100%;
  background-position: center;
}

header {
  margin-top: 30px;
  height: 5px;
  background-color: #ccc;
  position: relative;
}

.color-block {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #7B58E5;
  animation: move-color 3s ease-in-out infinite;
}

main {
  padding: 20px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
  color:  #333;
  background-color: #ffffff;
  border-top: 2px solid #ccc;
  text-align: center;
  position: relative;
  font-size: larger;
  font-weight: bold;
}

footer a {
  color: #7B58E5;
}
/* ---------------- */




/* ---------------- */
/* Chatbot box head*/
.chatbot {
  max-width: 100em;
  overflow: hidden;
}

.chat-header {
  color: rgb(0, 0, 0);
  padding: 10px;
}

.chat-header h1 {
  margin: 0;
  margin-bottom: 10px;
  /* text-align: center; */
  color: #000000;
  
  /* Use a modern looking font */
  font-family: 'Roboto', sans-serif;
  font-size: 3em;
}

.header-sub-text {
  padding: 10px;
}

.chat-header h5 {
  display: inline-block;
  text-align: center;
  margin: 0;
  text-align: center;
  color: #333;
}
select {
  display: inline-block;
  font-size: 16px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
}

select:hover {
  background-color: #f2f2f2;
}

option {
  font-size: 14px;
  padding: 5px;
  background-color: #fff;
  color: #333;
}

option:hover {
  background-color: #ccc;
  color: #fff;
}


.chat-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  }

.chat-form textarea[type="text"] {
  flex-grow: 1;
  margin-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 7px;
  border: 1px solid darkgray;
  font-size: 15px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  resize: both;
  overflow: auto;
  box-sizing: border-box;
  height: auto;
  max-height: 2.4em;
  min-width: 200px;
  max-width: 1500px;
}

*:focus {
  outline: 0;
}

#recordButton{
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 150px;
  max-width: 200px;
  display: none;
}

.chat-form button[type="submit"] {
  background-color: #0891B2;
  color: white;
  font-size: 1em;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  min-width: 4em;
  max-width: 4em;
  max-height: 2.4em;
}
/* ---------------- */




/* ---------------- */
/* Modification if the screen size is small */
@media only screen and (max-width:1200px){
  .chat-form button[type="submit"] {
  min-width: 50px;
  max-width: 100px;
}
}
/* ---------------- */




/* ---------------- */
/* Chatbot box message format*/
.chat-messages {
  height: 400px;
  overflow-y: scroll;
  padding: 10px;
}

.message p {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}

.user img {
  float: right; /* float the image to the left */
  margin-left: 10px; /* add some space between image and paragraph */
  margin-right: 10px;
  max-width: 30%; /* adjust the width of the image */
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.error img {
  float: left; /* float the image to the left */
  margin-right: 10px; /* add some space between image and paragraph */
  margin-left: 10px;
  max-width: 30%; /* adjust the width of the image */
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}

.aibot img {
  float: left; /* float the image to the left */
  margin-right: 10px; /* add some space between image and paragraph */
  margin-left: 10px;
  max-width: 30%; /* adjust the width of the image */
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}

.user p {
  max-width: 70%;
  background-color: #f5f2fd;
  color: #272727;
  border: 1px solid #ccc;
  align-self: flex-start;
  float: right;
  text-align: left;
}

.chatbot {
  color: #272727;
  align-self: flex-end;
}

.aibot p {
  max-width: 70%;
  background-color: #ffffff;
  color: #272727;
  border: 1px solid #ccc;
  align-self: flex-end;
  float: left;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}


.error p {
  max-width: 70%;
  background-color: #ff9393;
  color: #272727;
  border: 1px solid #ccc;
  align-self: flex-end;
  float: left;
  text-align: left;
  opacity: 0;
  transform: translateY(100%);
  animation: fade-in-bottom 0.5s forwards;
}

.clear {
  clear: both;
}

.loading-animation {
  float: left; /* float the image to the left */
  margin-right: 10px; /* add some space between image and paragraph */
  margin-left: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 5px solid #ccc;
  border-top-color: #3498db;
  animation: spin 1s ease-in-out infinite;
}
.loading-text {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #8ad0ff;
  color: #272727;
  border: 1px solid #ccc;
  align-self: flex-end;
  float: left;
  text-align: left;
}

.spacer {
  min-height: 37em;
}

.purple {
  color: #7B58E5;
}
/* ---------------- */




/* ---------------- */
/* Animation */
@keyframes move-color {
  0% {
    left: 0%;
  }
  50% {
    left: 50%
  }
  100% {
    left: calc(100% - 100px)
  }
}

@keyframes fade-in-bottom {
  to {
    opacity: 1;
    transform: translateY(0%);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

